@import "styles/variables";
@import "styles/mixins";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.label {
  @include fontLabel(500, $colorFontItemPassive);

  display: inline-block;
  margin-bottom: 0.7rem;
  opacity: 0.7;
}

.input {
  @include resetInput;
  @include fontInfo(600);

  padding: 1.4rem 2rem;
  height: 5rem;
  border: 1px solid $colorBorderInputPassive;
  border-radius: 0.2rem;
  transition-duration: $transitionDuration;

  &:hover,
  &:focus {
    border-color: $colorBgDarkest;
  }
}

.inputError {
  color: $colorFontWarning;
  border-color: $colorFontWarning;
}

.inputDisabled {
  background-color: $colorBgStats;
  border-color: $colorBgStats;
  pointer-events: none;
}

.wrapperCash {
  position: relative;

  &::before {
    @include fontInfo(600);

    content: "€";
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
  }

  .input {
    padding-left: 3.5rem;
  }
}

.inputDetailed {
  @include fontLegend(600, $colorFontDarkest);

  padding-right: 0.8rem;
  padding-left: 0.8rem;
  height: 3rem;
  background-color: $colorBorderTable;
  border: none;
  border-radius: 0.5rem;
}

.inputAuth {
  @include tableItem(400, rgba(255, 255, 255, 0.9));

  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgb(195, 195, 195, 0.06);
}
