@import "styles/variables";
@import "styles/mixins";

.button {
  @include resetButton;
  @include fontButton;

  padding-right: 5rem;
  padding-left: 5rem;
  width: fit-content;
}

.buttonFilled {
  background-color: $colorBgHighlight;
  border: 1px solid $colorBgHighlight;
}

.buttonBordered {
  background-color: transparent;
  border: 1px solid $colorBgHighlight;
}

.buttonRegular {
  min-height: 4rem;
  border-radius: 2rem;
}

.buttonLarge {
  min-height: 5rem;
  border-radius: 2.5rem;
}

.buttonSmall {
  min-height: 3rem;
  border-radius: 2rem;
}
