@import "styles/variables";
@import "styles/mixins";

.button {
  @include resetButton;
  @include fontButton;

  position: relative;
  padding-right: 5rem;
  padding-left: 5rem;
  width: fit-content;
  transition-duration: $transitionDuration;

  &:hover,
  &:active {
    box-shadow: 0 0 0.5rem $colorFontHighlight;
  }
}

.buttonFilled {
  background-color: $colorBgHighlight;
  border: 1px solid $colorBgHighlight;
}

.buttonBordered {
  background-color: transparent;
  border: 1px solid $colorBgHighlight;
}

.buttonRegular {
  min-height: 4rem;
  border-radius: 2rem;
}

.buttonLarge {
  min-height: 5rem;
  border-radius: 2.5rem;
}

.buttonSmall {
  min-height: 3rem;
  border-radius: 2rem;
}

.buttonDisabled {
  pointer-events: none;
}

.icon {
  --spinner-size: 2rem;
  position: absolute;
  top: calc(50% - var(--spinner-size) / 2);
  right: 1.5rem;
  width: var(--spinner-size);
  fill: $colorFontDarkest;
}
