@import "styles/variables";

.wrapper {
  padding-left: $paddingGlobal;
  padding-right: $paddingGlobal;
}

.wrapperLeft {
  padding-left: $paddingGlobal;
}

.wrapperRight {
  padding-right: $paddingGlobal;
}
