@font-face {
  font-family: "Raleway";
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Raleway-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Raleway-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Raleway-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 550;
  font-display: swap;
  src: url("../assets/fonts/Raleway-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Raleway-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/Raleway-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/OpenSans-ExtraBold.woff2") format("woff2");
}
