@import "styles/variables";
@import "styles/mixins";

.selectWrapper {
  display: flex;
}

.arrow {
  position: relative;
  border-top: 0.7rem solid $colorBgLightest;
  border-right: 0.6rem solid transparent;
  border-left: 0.6rem solid transparent;
}

.select {
  &:not(:first-of-type) {
    margin-left: 3rem;
  }

  :global {
    .select {
      &__control {
        background-color: transparent;
        border: none;
      }

      &__value-container {
        padding: 0;
        width: 11rem;
      }

      &__single-value {
        @include fontButton(500, $colorFontLightest);

        left: 0;
        color: $colorFontLightest;
        text-transform: capitalize;
      }

      &__dropdown-indicator {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

.selectYear {
  :global {
    .select {
      &__value-container {
        width: 5.5rem;
      }
    }
  }
}

.dropdown {
  &:not(:first-child) {
    margin-left: 3rem;
  }
}
