@import "styles/variables";
@import "styles/mixins";

.wrapper {
  border-bottom: 1px solid $colorBorderSidebar;
}

.link {
  display: flex;
  align-items: center;
  padding: 1.7rem 3rem 1.7rem $paddingGlobal;
  transition-duration: $transitionDuration;
  transition-property: opacity, background-color, padding;

  &:hover {
    background-color: $colorBgSidebarActive;

    .label {
      font-weight: 900;
      opacity: 1;
    }
  }
}

.icon {
  display: block;
}

.iconDummy {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: $colorFontLightest;
  transition-duration: $transitionDuration;
  opacity: 0.2;
}

.label {
  @include fontSidebar;

  margin-left: 1.2rem;
  opacity: 0.6;
  transition-duration: $transitionDuration;
}

.counter {
  @include fontSidebar;

  margin-left: auto;
  opacity: 0.6;
}

.wrapperCollapsed {
  .link {
    padding-right: 2rem;
    padding-left: 2rem;
    transition-duration: $transitionDuration;

    &:hover {
      background-color: transparent;

      .label {
        opacity: 0;
      }

      .iconDummy {
        opacity: 1;
      }
    }
  }

  .label {
    opacity: 0;
  }
}
