@import "styles/variables";
@import "styles/mixins";

@keyframes collapseMenu {
  0% {
    grid-template-columns: 32.5rem 1fr;
  }

  100% {
    grid-template-columns: 10.6rem 1fr;
  }
}

@keyframes expandMenu {
  0% {
    grid-template-columns: 10.6rem 1fr;
  }

  100% {
    grid-template-columns: 32.5rem 1fr;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: #{$headerMinHeight} auto;
  //grid-template-columns: 32.5rem 1fr;
  //animation-fill-mode: both;
  //animation-duration: 0.001s;
  //animation-name: expandMenu;
  animation-fill-mode: both;
  min-height: 100vh;
}

.wrapperUncollapsed {
  grid-template-columns: 32.5rem 1fr;
  animation-name: expandMenu;
  animation-duration: $transitionDuration;
}

.wrapperCollapsed {
  grid-template-columns: 10.6rem 1fr;
  animation-name: collapseMenu;
  animation-duration: $transitionDuration;
}
