@import "styles/variables";

@keyframes arrowPoint {
  0% {
    left: 0;
  }

  50% {
    left: -1rem;
  }

  75% {
    left: 0.5rem;
  }

  100% {
    left: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 0 $paddingGlobal;
  min-height: 8rem;
  width: 100%;
  transition-duration: $transitionDuration;

  &:hover {
    .icon {
      animation-name: arrowPoint;
      animation-fill-mode: both;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}

.icon {
  position: relative;
  margin-right: 1rem;
  width: 2rem;
  transform: rotate(180deg);
  transition-duration: $transitionDuration;
}

.label {
  transition-duration: $transitionDuration;
}

.buttonCollapsed {
  padding: 0;
  justify-content: center;

  .icon {
    transform: rotate(0);
  }

  .label {
    position: absolute;
    opacity: 0;
    left: 10rem;
    //transform: translateX(6.5rem);
  }
}
