.wrapper {
  padding-right: 6.5rem;
  padding-left: 6.5rem;
  width: 38rem;
}

.heading {
  text-align: center;
}

.form {
  display: grid;
  grid-row-gap: 1.8rem;
  margin-top: 3rem;
}

.toggle {
  margin-top: 3rem;
}

.button {
  display: block;
  margin: 3rem auto 0 auto;
}
