@import "styles/variables";
@import "styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  min-height: $headerMinHeight;
  color: $colorFontLightest;
  background-color: $colorBgDarkest;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  @include resetButton;
  @include fontLabel(600, $colorFontLightest);

  opacity: 0.6;
  transition-duration: $transitionDuration;

  &:hover {
    opacity: 1;
  }
}
