@import "styles/variables";
@import "styles/mixins";

.cell {
  @include tableItem(500, $colorFontDarkest);

  margin: 0;
  padding: 0;
  text-transform: none;
  transition-duration: $transitionDuration;
  transition-property: text-decoration;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.cellHovered {
  font-weight: 900;
}

.cellCentered {
  padding-left: 15%;
}

.cellOrders {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cellThin {
  font-weight: 300;
}

.cellRoute {
  display: flex;

  .iconRoute {
    align-self: center;
    margin-left: 0.4rem;
    width: 1.6rem;
    fill: $colorFontDarkest;
  }

  .routeItem {
    &:not(:first-child) {
      align-self: flex-end;
      margin-left: 0.7rem;
    }
  }
}

.cellDateRange {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .dateRangeItem {
    &:not(:first-child) {
      position: relative;
      margin-top: 1rem;
      overflow: visible;

      &::before {
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 2.5rem;
        width: 2rem;
        height: 1px;
        background-color: $colorFontDarkest;
        z-index: 2;
      }
    }
  }
}

.link {
  position: relative;
  display: block;
  color: inherit;
}

.linkHovered {
  text-decoration: underline;

  .linkContent {
    text-decoration: underline;
  }

  .hint {
    opacity: 1;
  }
}

.hint {
  @include fontHint;

  position: absolute;
  left: -2.5rem;
  padding-top: 2.5rem;
  width: max-content;
  transition-duration: $transitionDuration;
  opacity: 0;
}

.value {
  @include fontLegend;

  display: block;
  text-transform: capitalize;
  opacity: 0.45;
}

.iconTrust {
  width: $iconTrustWidth;
  fill: $colorFontHighlightLight;
}

.iconNonConfirm {
  margin-left: 1.5rem;
  width: 2.4rem;
  fill: $colorBgTabs;

  :global {
    #icon-confirm-check {
      display: none;
    }
  }
}

.iconConfirm {
  fill: $colorFontHighlightLight;

  :global {
    #icon-confirm-check {
      display: inline;
    }
  }
}

.iconPayment {
  width: 2.7rem;

  &.iconPaymentPending {
    fill: $colorFontHighlight;
  }

  &.iconPaymentOverdue {
    fill: $colorFontWarning;
  }

  &.iconPaymentPaid {
    fill: $colorFontHighlightLight;
  }
}

.contacts {
  display: flex;
  flex-direction: column;

  .contact {
    &:not(:first-child) {
      margin-top: 0.2rem;
    }
  }
}

.previewTrigger {
  @include resetButton;
}

.preview {
  max-width: 10rem;
  max-height: 25rem;
}

.full {
  max-width: 70vw;
  max-height: 70vh;
}
