@import "styles/variables";
@import "styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: $headerMinHeight;
  background-color: $colorBgSidebar;
  transition-duration: $transitionDuration;
  overflow: hidden;
}

.list {
  @include resetList;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: max-content;
  transition-delay: 0.1s;
}

.button {
  margin-top: auto;
  border-radius: 0;
}
