@import "styles/variables";
@import "styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: $headerMinHeight;
  background-color: $colorBgSidebar;
}

.list {
  @include resetList;

  display: flex;
  flex-direction: column;
}

.button {
  margin-top: auto;
  border-radius: 0;
}
