.wrapper {
  margin-top: 2.2rem;
}

.table {
  & > *::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: red !important;
  }
}

.rowClickable {
  cursor: pointer;
}
