@import "styles/variables";

.wrapper {
  margin-top: 2.2rem;
}

.table {
  & > *::-webkit-scrollbar-button {
    display: none;
  }

  & > *::-webkit-scrollbar {
    width: 0.5rem;
  }

  & > *::-webkit-scrollbar-thumb {
    background-color: $colorBgSidebarActive;
  }
}

.rowClickable {
  cursor: pointer;
}
