@import "styles/variables";
@import "styles/mixins";

.wrapper {
  position: relative;
}

.label {
  @include fontInfo(500, $colorFontDarkest);

  display: grid;
  grid-template-columns: 1.6rem 1fr;
  grid-gap: 0.8rem;
  align-items: center;
  cursor: pointer;
  transition-duration: $transitionDuration;

  &::before {
    content: "";
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-color: $colorBorderTable;
    border-radius: 0.3rem;
  }

  &:hover {
    color: $colorFontHighlight;
  }
}

.labelChecked {
  &::before {
    background-color: $colorBgHighlight;
  }

  .icon {
    position: absolute;
    top: calc(50% - 1.2rem / 2);
    left: 0.2rem;
    width: 1.2rem;
    fill: $colorFontLightest;
  }
}
