@import "styles/mixins";
@import "styles/variables";

.table {
  margin-top: 2rem;
}

.columns {
  grid-column-gap: 2rem;
  grid-template-columns:
    calc(100% * 200 / 1003)
    calc(100% * 98 / 1003)
    calc(100% * 123 / 1003)
    calc(100% * 88 / 1003)
    calc(100% * 109 / 1003)
    calc(100% * 103 / 1003)
    calc(100% * 81 / 1003)
    1fr;
}
