@import "styles/variables";
@import "styles/mixins";

.wrapper {
  position: relative;
}

.label {
  @include fontLabel(500, $colorFontItemPassive);

  display: block;
  padding: 1.5rem;
  text-align: center;
  border: 1px dashed $colorFontItemPassive;
  opacity: 0.7;
  transition-duration: $transitionDuration;
  cursor: pointer;

  &:hover {
    color: $colorFontHighlightDark;
    border-color: $colorFontHighlightDark;
  }
}

.wrapperWithPreview {
  .label {
    @include fontInput(400, $colorFontDarkest);

    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    opacity: 1;

    &:hover {
      color: $colorFontHighlight;

      .icon {
        fill: $colorFontHighlight;
      }
    }

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .icon {
    margin-right: 1.2rem;
    width: 1.6rem;
    fill: $colorFontHighlightDark;
    transition-duration: $transitionDuration;
  }

  .preview {
    margin-right: 1.2rem;
    width: 3.6rem;
    height: 5rem;
    object-fit: cover;
  }
}

.wrapperError {
  .label {
    color: $colorError;

    &:hover {
      color: $colorError;

      .icon {
        fill: $colorError;
      }
    }
  }

  .icon {
    fill: $colorError;
  }
}
